<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Lottery</title>
</head>
<body>
    <form method="GET">
        <h1>Get a Random Number</h1>
        <label for="maxValue">
            Maximum Value
            <input required type="number" name='maxValue' id='maxValue'>
        </label><br>
        <label for="numLength">
            Length
            <input required type="number" name ='numLength' id="numLength">
        </label>
        <label for="draws">
            How many draws?
            <input 
            style="margin-top: 5px;" 
            required type="number" 
            name="draws" 
            id="draws">
        </label>
        <button type="submit">Draw</button>
    </form>
    <!-- <div>
        <p>Random Number: </p>
    </div> -->
</body>
</html>